*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #000000;
}
.bg-color{
    background-color: #ffffff;
}
html {
    font-size: 62.5%;
}
.nav-items{
    font-size: 2rem;
}
.d-flex{
    display: flex;
    /* flex-wrap: wrap; */
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.justify-start{
    justify-content: start;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.gap{
    gap: 20px;
}
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mr-5{
    margin-right: 50px;
}
.ml-5{
    margin-left: 50px;
}
.cursor{
    cursor: pointer;
}
.logo{
    height: 70px;
    width: 150px;
}
#franchise{
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px 20px;
    background-color: transparent;
}
#order{
    border-radius: 25px;
    border: 0px;
    background-color: #ed1c24;
    padding: 15px 20px;
}
.pt-1{
    padding-top: 10px;
}
.pt-2{
    padding-top: 20px;
}
.food{
    width: 100%;
}
.font{
    font-size: x-large;
}
p{
    font-size: large;
}
.bg-radius{
    border-radius: 20px;
}
.order-btn{
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px 30px;
    background-color: transparent;
}